# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "5618752927:AAH8l1P8owemveruwAO7k3R78Jwu12rx-R0"
GDRIVE_FOLDER_ID = "1-V0xAOIXJrUXVof6zUlQdk9bhkqeiWNZ"
OWNER_ID = "5507294366"
DOWNLOAD_DIR = "/home/username/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = "true"
TELEGRAM_API = "17911545"
TELEGRAM_HASH = "e7145aa32de4a8e9d7516bbfabada9e2"
USE_SERVICE_ACCOUNTS = "true"

# Optional config
ACCOUNTS_ZIP_URL = "https://armv.armv.workers.dev/0:/AR%20Leech/accounts.zip" #Enter Direct Links TO Import Service Accounts Directly From Urls Instead Of Adding Files To Repo.( Archive the accounts folder to a zip file.)
TOKEN_PICKLE_URL = "https://armv.armv.workers.dev/0:/AR%20Leech/token.pickle" #Enter Direct Links TO Import Credentials Directly From Urls Instead Of Adding Files To Repo.
SESSION_STRING = ""
AUTHORIZED_CHATS = "-1001782378108" #Separated by space
SUDO_USERS = "5507294366"  #Separated by space
LOGS_CHATS = "" #Separated by space
DATABASE_URL = "postgresql://postgres:qS57qbUr2ssgzPANus8t@containers-us-west-52.railway.app:6012/railway"
IGNORE_PENDING_REQUESTS = ""
INDEX_URL = "https://tsleemkhan.tsleembhai38.workers.dev/0:"
MEGA_API_KEY = "XrAxSY6C"
MEGA_EMAIL_ID = "btest897@gmail.com"
MEGA_PASSWORD = "00786@tsleem"
BLOCK_MEGA_LINKS = ""
SHORTENER = ""
SHORTENER_API = ""
STOP_DUPLICATE_CLONE = ""
CLONE_LIMIT = ""
TG_SPLIT_SIZE = "" # leave it empty for max size(2GB)
AS_DOCUMENT = ""
CUSTOM_FILENAME = ""
RECURSIVE_SEARCH = "" #T/F And Fill drive_folder File Using Driveid.py Script.
UPTOBOX_TOKEN = "" 
# Upstream
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
# View Link button to open file Index Link in browser instead of direct download link
# You can figure out if it's compatible with your Index code or not, open any video from you Index and check if its URL ends with ?a=view, if yes make it True it will work (Compatible with Bhadoo Drive Index)
VIEW_LINK = "true"
# GDTOT COOKIES
CRYPT = ""
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
